.slider {
    height: 5px;
    border-radius: 5px;
    background-color: #ddd;
    position: relative;
}
.slider .progress {
    height: 5px;
    position: absolute;
    left: 25%;
    right: 25%;
    border-radius: 5px;
    background: #17A2B8;
}
.rangeInput {
    position: relative;
}
.rangeInput input {
    position: absolute;
    top: -5px;
    height: 5px;
    width: 100%;
    background: none;
    -webkit-appearance: none;
}
